<h1>BURGERS</h1>

<h2>EAT DAH BURGER!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
    {{id}}
    {{burger_name}}
    <form class="devour-form">
      <input input type="hidden" class="burger_id" type="text" value={{id}}><br>
      <button type="submit" class="btn">Devour it!</button>
    </form>
    {{/unless}}
  {{/each}}
</ul>

<h2>BURGERS CONSUMED!</h2>

<ul>
   {{#each burgers}}
      {{#if devoured}}
          {{id}}
          {{burger_name}}
      {{/if}}
    {{/each}}

</ul>

<h2>Add a burger</h2>
<form class="create-form">
    <label for="burger">burger Name:</label>
    <input type="text" id="add-burger" name="name">
    <button type="submit">Add Burger</button>
</form>
